-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: ipsrs
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aset`
--

DROP TABLE IF EXISTS `aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aset` (
  `id` char(36) NOT NULL,
  `nama` varchar(200) NOT NULL,
  `jenis` varchar(50) NOT NULL COMMENT 'Sarana / Prasarana / Alat Non Medis',
  `kategori` varchar(100) NOT NULL COMMENT 'FK-like ke kategori_aset.nama_kategori',
  `merk` varchar(100) DEFAULT NULL,
  `model` varchar(100) DEFAULT NULL COMMENT 'Tipe/model aset',
  `kapasitas` varchar(50) DEFAULT NULL COMMENT 'Kapasitas: 1 PK, 5000 VA, dll',
  `tahun` year DEFAULT NULL,
  `keterangan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_aset_kategori` (`kategori`),
  KEY `idx_aset_jenis` (`jenis`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aset`
--

LOCK TABLES `aset` WRITE;
/*!40000 ALTER TABLE `aset` DISABLE KEYS */;
/*!40000 ALTER TABLE `aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aset_series`
--

DROP TABLE IF EXISTS `aset_series`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aset_series` (
  `id` char(36) NOT NULL,
  `id_aset` char(36) NOT NULL COMMENT 'Relasi ke tabel aset (Parent)',
  `nomor_aset` varchar(50) NOT NULL COMMENT 'Dipindah dari parent',
  `no_seri` varchar(100) DEFAULT NULL,
  `lokasi` varchar(200) NOT NULL,
  `gedung` varchar(100) NOT NULL,
  `lantai` varchar(20) DEFAULT NULL,
  `ruangan` varchar(100) NOT NULL,
  `unit` varchar(100) NOT NULL,
  `url_maps` text,
  `kondisi` varchar(50) NOT NULL DEFAULT 'Baik',
  `status` varchar(50) NOT NULL DEFAULT 'Aktif',
  `qr_code` varchar(255) DEFAULT NULL,
  `last_seen_at` timestamp NULL DEFAULT NULL,
  `last_seen_lat` double DEFAULT NULL,
  `last_seen_lng` double DEFAULT NULL,
  `last_seen_by` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_aset_series_nomor` (`nomor_aset`),
  KEY `idx_aset_series_parent` (`id_aset`),
  CONSTRAINT `fk_aset_series_parent` FOREIGN KEY (`id_aset`) REFERENCES `aset` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aset_series`
--

LOCK TABLES `aset_series` WRITE;
/*!40000 ALTER TABLE `aset_series` DISABLE KEYS */;
/*!40000 ALTER TABLE `aset_series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barang_persediaan`
--

DROP TABLE IF EXISTS `barang_persediaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barang_persediaan` (
  `id` char(36) NOT NULL,
  `no_barang` varchar(20) NOT NULL COMMENT 'Display code: B-001',
  `nama` varchar(200) NOT NULL,
  `kategori` varchar(100) NOT NULL,
  `satuan` varchar(20) NOT NULL DEFAULT 'pcs',
  `stok_tersedia` int NOT NULL DEFAULT '0',
  `minimum_stok` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_barang_no` (`no_barang`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barang_persediaan`
--

LOCK TABLES `barang_persediaan` WRITE;
/*!40000 ALTER TABLE `barang_persediaan` DISABLE KEYS */;
INSERT INTO `barang_persediaan` VALUES ('f15503d8-5231-41be-9db4-09d87688c519','B-001','kapasitor','Suku Cadang AC','pcs',10,5,'2026-07-11 04:41:17'),('f8836f10-cbf8-4512-8bdb-1f330f8d4b8f','B-002','LEd','Material Listrik','pcs',90,100,'2026-08-03 04:07:55');
/*!40000 ALTER TABLE `barang_persediaan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_checklist_lkp`
--

DROP TABLE IF EXISTS `detail_checklist_lkp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_checklist_lkp` (
  `id` char(36) NOT NULL,
  `id_lkp` char(36) NOT NULL,
  `no_item` int DEFAULT NULL,
  `jenis_item` varchar(50) DEFAULT NULL COMMENT 'Inspeksi / Service / Pengukuran',
  `nama_komponen` varchar(200) DEFAULT NULL,
  `hasil_inspeksi` varchar(20) DEFAULT NULL COMMENT 'Baik / Tidak',
  `hasil_service` varchar(20) DEFAULT NULL COMMENT 'Ya / Tidak',
  `nilai_pengukuran` varchar(50) DEFAULT NULL,
  `satuan` varchar(20) DEFAULT NULL,
  `keterangan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dcl_id_lkp` (`id_lkp`),
  CONSTRAINT `fk_dcl_lkp` FOREIGN KEY (`id_lkp`) REFERENCES `lembar_kerja_preventif` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_checklist_lkp`
--

LOCK TABLES `detail_checklist_lkp` WRITE;
/*!40000 ALTER TABLE `detail_checklist_lkp` DISABLE KEYS */;
INSERT INTO `detail_checklist_lkp` VALUES ('','bdb443a3-c75c-4540-9907-d1cd67186814',0,'Inspeksi','iya kah','Baik',NULL,NULL,NULL,'iya','2026-07-31 13:00:33');
/*!40000 ALTER TABLE `detail_checklist_lkp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_suku_cadang_lk`
--

DROP TABLE IF EXISTS `detail_suku_cadang_lk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_suku_cadang_lk` (
  `id` char(36) NOT NULL,
  `id_lk` char(36) NOT NULL,
  `id_barang` char(36) DEFAULT NULL,
  `sumber` varchar(20) NOT NULL DEFAULT 'Gudang' COMMENT 'Gudang / Kanibal',
  `nama_barang` varchar(200) NOT NULL,
  `jumlah` int NOT NULL,
  `satuan` varchar(20) DEFAULT 'pcs',
  `keterangan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_dsc_id_lk` (`id_lk`),
  KEY `idx_dsc_id_barang` (`id_barang`),
  CONSTRAINT `fk_dsc_barang` FOREIGN KEY (`id_barang`) REFERENCES `barang_persediaan` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_dsc_lk` FOREIGN KEY (`id_lk`) REFERENCES `laporan_kerusakan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_suku_cadang_lk`
--

LOCK TABLES `detail_suku_cadang_lk` WRITE;
/*!40000 ALTER TABLE `detail_suku_cadang_lk` DISABLE KEYS */;
INSERT INTO `detail_suku_cadang_lk` VALUES ('','12a14751-2b92-417a-8c57-b257851075f8','f15503d8-5231-41be-9db4-09d87688c519','Gudang','kapasitor',1,'pcs',NULL,'2026-07-11 04:44:12'),('869fbc86-70c5-438d-b24e-7fce32e98c5c','19271518-d3d1-4745-9a86-2d2c1fa281a3','f8836f10-cbf8-4512-8bdb-1f330f8d4b8f','Gudang','LEd',10,'pcs',NULL,'2026-08-03 04:09:31');
/*!40000 ALTER TABLE `detail_suku_cadang_lk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_vendor_lk`
--

DROP TABLE IF EXISTS `detail_vendor_lk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_vendor_lk` (
  `id` char(36) NOT NULL,
  `id_lk` char(36) NOT NULL,
  `id_vendor` char(36) DEFAULT NULL,
  `nama_vendor` varchar(200) DEFAULT NULL,
  `tanggal_kirim` date DEFAULT NULL,
  `tanggal_kembali` date DEFAULT NULL,
  `estimasi_selesai` date DEFAULT NULL,
  `keterangan` text,
  PRIMARY KEY (`id`),
  KEY `idx_dvl_id_lk` (`id_lk`),
  KEY `idx_dvl_id_vendor` (`id_vendor`),
  CONSTRAINT `fk_dvl_lk` FOREIGN KEY (`id_lk`) REFERENCES `laporan_kerusakan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_dvl_vendor` FOREIGN KEY (`id_vendor`) REFERENCES `vendor` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_vendor_lk`
--

LOCK TABLES `detail_vendor_lk` WRITE;
/*!40000 ALTER TABLE `detail_vendor_lk` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_vendor_lk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_preventif`
--

DROP TABLE IF EXISTS `jadwal_preventif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal_preventif` (
  `id` char(36) NOT NULL,
  `id_aset` varchar(50) DEFAULT NULL,
  `aset` varchar(200) NOT NULL COMMENT 'Denormalized nama aset',
  `lokasi` varchar(200) NOT NULL,
  `tanggal` date NOT NULL,
  `jam` time NOT NULL,
  `teknisi` varchar(100) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'Belum' COMMENT 'Belum / Selesai / Terlewat',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `jp_tanggal` (`tanggal`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_preventif`
--

LOCK TABLES `jadwal_preventif` WRITE;
/*!40000 ALTER TABLE `jadwal_preventif` DISABLE KEYS */;
INSERT INTO `jadwal_preventif` VALUES ('1f17176b-222f-46a0-9e95-ef7faac2a04e','8ba90f9b-9ee9-42ee-a5ed-a67c7bab1f56','','Agape','2026-09-22','00:01:00','dave','Selesai','2026-07-31 12:58:09'),('5bccd6a0-3a1d-45bd-a185-f9ba61f28ab5','12f697c7-1c5a-4b80-a027-a7c6c2f493ca','Tugas Pengganti','ed','2026-07-11','12:11:00','dave','Belum','2026-07-11 04:16:20'),('afd1a808-5bf5-45cc-ad67-ad6989dbbbaf','2507382e-aad7-400d-a761-510707ba5421','','Gedung A / Lt.1 / Poli Umum','2026-08-12','14:02:00','dave','Belum','2026-08-03 04:13:12');
/*!40000 ALTER TABLE `jadwal_preventif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_aset`
--

DROP TABLE IF EXISTS `kategori_aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kategori_aset` (
  `id` char(36) NOT NULL,
  `nama_kategori` varchar(100) NOT NULL,
  `deskripsi` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_kategori_nama` (`nama_kategori`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_aset`
--

LOCK TABLES `kategori_aset` WRITE;
/*!40000 ALTER TABLE `kategori_aset` DISABLE KEYS */;
INSERT INTO `kategori_aset` VALUES ('a1000000-0000-0000-0000-000000000001','HVAC','Heating, Ventilation, Air Conditioning','2026-07-09 08:26:50'),('a1000000-0000-0000-0000-000000000002','Listrik','Instalasi dan peralatan kelistrikan','2026-07-09 08:26:50'),('a1000000-0000-0000-0000-000000000003','Mekanikal','Peralatan mekanikal','2026-07-09 08:26:50'),('a1000000-0000-0000-0000-000000000004','Elektronik','Peralatan elektronik medis dan non-medis','2026-07-09 08:26:50'),('a1000000-0000-0000-0000-000000000005','Bangunan','Prasarana bangunan dan gedung','2026-07-09 08:26:50');
/*!40000 ALTER TABLE `kategori_aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kode_kerusakan`
--

DROP TABLE IF EXISTS `kode_kerusakan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kode_kerusakan` (
  `id` char(36) NOT NULL,
  `kode` varchar(10) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_kode_kode` (`kode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kode_kerusakan`
--

LOCK TABLES `kode_kerusakan` WRITE;
/*!40000 ALTER TABLE `kode_kerusakan` DISABLE KEYS */;
INSERT INTO `kode_kerusakan` VALUES ('b1000000-0000-0000-0000-000000000001','AC','Air Conditioning','2026-07-09 08:26:50'),('b1000000-0000-0000-0000-000000000002','PR','Prasarana / Umum','2026-07-09 08:26:50'),('b1000000-0000-0000-0000-000000000003','NM','Non Medis / Lampu','2026-07-09 08:26:50'),('b1000000-0000-0000-0000-000000000004','AL','Alat / Sarana','2026-07-09 08:26:50');
/*!40000 ALTER TABLE `kode_kerusakan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komponen_aset`
--

DROP TABLE IF EXISTS `komponen_aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `komponen_aset` (
  `id` char(36) NOT NULL,
  `id_aset_series` char(36) DEFAULT NULL,
  `nama_komponen` varchar(200) NOT NULL,
  `kondisi` varchar(50) DEFAULT 'Baik' COMMENT 'Baik / Kurang Baik / Rusak / Tidak Ada',
  `asal` varchar(50) DEFAULT 'Original' COMMENT 'Original / Hasil Kanibal',
  `id_riwayat_kanibal` char(36) DEFAULT NULL COMMENT 'FK nullable, jika asal = Hasil Kanibal',
  `tanggal_dicatat` date DEFAULT NULL,
  `keterangan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `ka_id_kanibal` (`id_riwayat_kanibal`),
  KEY `fk_ka_aset_series` (`id_aset_series`),
  CONSTRAINT `fk_ka_aset_series` FOREIGN KEY (`id_aset_series`) REFERENCES `aset_series` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ka_kanibal` FOREIGN KEY (`id_riwayat_kanibal`) REFERENCES `riwayat_kanibal` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komponen_aset`
--

LOCK TABLES `komponen_aset` WRITE;
/*!40000 ALTER TABLE `komponen_aset` DISABLE KEYS */;
/*!40000 ALTER TABLE `komponen_aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laporan_kerusakan`
--

DROP TABLE IF EXISTS `laporan_kerusakan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `laporan_kerusakan` (
  `id` char(36) NOT NULL,
  `no_order` varchar(30) NOT NULL COMMENT 'Format: LK-YYYYMM-XXXX',
  `tanggal` date NOT NULL,
  `jam_laporan` time NOT NULL,
  `keluhan` text NOT NULL,
  `kode` varchar(10) NOT NULL COMMENT 'AC/PR/NM/AL',
  `pelapor` varchar(100) NOT NULL,
  `unit_pelapor` varchar(100) NOT NULL,
  `lokasi` varchar(200) NOT NULL,
  `id_aset_series` char(36) DEFAULT NULL,
  `nama_aset` varchar(200) DEFAULT NULL,
  `teknisi` varchar(100) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'Laporan Masuk',
  `tanggal_cek` date DEFAULT NULL,
  `jam_cek` time DEFAULT NULL,
  `tindakan` text,
  `tanggal_selesai` date DEFAULT NULL,
  `jam_selesai` time DEFAULT NULL,
  `response_time` int DEFAULT NULL COMMENT 'menit',
  `down_time` int DEFAULT NULL COMMENT 'menit',
  `proses` varchar(5) DEFAULT NULL COMMENT 'I / II / III',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_lk_no_order` (`no_order`),
  KEY `idx_lk_status` (`status`),
  KEY `idx_lk_tanggal` (`tanggal`),
  KEY `fk_lk_aset_series` (`id_aset_series`),
  CONSTRAINT `fk_lk_aset_series` FOREIGN KEY (`id_aset_series`) REFERENCES `aset_series` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan_kerusakan`
--

LOCK TABLES `laporan_kerusakan` WRITE;
/*!40000 ALTER TABLE `laporan_kerusakan` DISABLE KEYS */;
/*!40000 ALTER TABLE `laporan_kerusakan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lembar_kerja_preventif`
--

DROP TABLE IF EXISTS `lembar_kerja_preventif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lembar_kerja_preventif` (
  `id` char(36) NOT NULL,
  `no_order` varchar(30) NOT NULL COMMENT 'Format: LKP-YYYYMM-XXXX',
  `id_jadwal` char(36) DEFAULT NULL,
  `id_aset_series` char(36) DEFAULT NULL,
  `kategori` varchar(100) DEFAULT NULL,
  `tanggal_pemeriksaan` date DEFAULT NULL,
  `teknisi` varchar(100) DEFAULT NULL,
  `nama_user_ttd` varchar(100) DEFAULT NULL,
  `hasil_pemeriksaan` varchar(50) DEFAULT NULL COMMENT 'Siap Pakai / Perlu Perbaikan',
  `catatan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_lkp_no_order` (`no_order`),
  KEY `lkp_id_jadwal` (`id_jadwal`),
  KEY `fk_lkp_aset_series` (`id_aset_series`),
  CONSTRAINT `fk_lkp_aset_series` FOREIGN KEY (`id_aset_series`) REFERENCES `aset_series` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_lkp_jadwal` FOREIGN KEY (`id_jadwal`) REFERENCES `jadwal_preventif` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lembar_kerja_preventif`
--

LOCK TABLES `lembar_kerja_preventif` WRITE;
/*!40000 ALTER TABLE `lembar_kerja_preventif` DISABLE KEYS */;
INSERT INTO `lembar_kerja_preventif` VALUES ('ab76e3d0-406d-49be-a846-a8a3bf72d8f3','LKP-202608-0001','5bccd6a0-3a1d-45bd-a185-f9ba61f28ab5',NULL,'Panel MDP','2026-08-03','dave',NULL,'Siap Pakai','aman','2026-08-03 04:20:05'),('bdb443a3-c75c-4540-9907-d1cd67186814','LKP-202607-0001','1f17176b-222f-46a0-9e95-ef7faac2a04e','8ba90f9b-9ee9-42ee-a5ed-a67c7bab1f56','ih','2026-07-31','dave',NULL,'Siap Pakai','','2026-07-31 13:00:33');
/*!40000 ALTER TABLE `lembar_kerja_preventif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengguna`
--

DROP TABLE IF EXISTS `pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengguna` (
  `id` char(36) NOT NULL,
  `email` varchar(200) NOT NULL,
  `password_hash` varchar(255) NOT NULL COMMENT 'akan diisi di Phase 4',
  `nama_lengkap` varchar(100) NOT NULL,
  `role` varchar(50) NOT NULL DEFAULT 'Pelapor',
  `unit` varchar(100) NOT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pengguna_email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengguna`
--

LOCK TABLES `pengguna` WRITE;
/*!40000 ALTER TABLE `pengguna` DISABLE KEYS */;
INSERT INTO `pengguna` VALUES ('da61e741-4a58-4d99-ab1e-0af9cb7e021c','agadape@gmail.com','','dave','Teknisi','IPSRS',1,'2026-07-11 04:43:42'),('e1000000-0000-0000-0000-000000000001','admin@rsud-jogja.go.id','$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi','Administrator','Admin','IPSRS',1,'2026-07-09 08:26:50');
/*!40000 ALTER TABLE `pengguna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_kanibal`
--

DROP TABLE IF EXISTS `riwayat_kanibal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `riwayat_kanibal` (
  `id` char(36) NOT NULL,
  `no_order_lk` varchar(30) NOT NULL COMMENT 'Traceability ke LK',
  `id_series_donor` char(36) DEFAULT NULL,
  `id_series_penerima` char(36) DEFAULT NULL,
  `nama_komponen` varchar(200) NOT NULL COMMENT 'Free text',
  `kondisi_komponen` varchar(50) DEFAULT 'Baik' COMMENT 'Kondisi saat dipanen',
  `tanggal` date NOT NULL,
  `petugas` varchar(100) NOT NULL COMMENT 'Teknisi eksekusi',
  `disetujui_oleh` varchar(100) DEFAULT NULL COMMENT 'Admin/Ka IPSRS',
  `keterangan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `rk_no_order_lk` (`no_order_lk`),
  KEY `fk_rk_series_donor` (`id_series_donor`),
  KEY `fk_rk_series_penerima` (`id_series_penerima`),
  CONSTRAINT `fk_rk_series_donor` FOREIGN KEY (`id_series_donor`) REFERENCES `aset_series` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_rk_series_penerima` FOREIGN KEY (`id_series_penerima`) REFERENCES `aset_series` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_kanibal`
--

LOCK TABLES `riwayat_kanibal` WRITE;
/*!40000 ALTER TABLE `riwayat_kanibal` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_kanibal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_lokasi_aset`
--

DROP TABLE IF EXISTS `riwayat_lokasi_aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `riwayat_lokasi_aset` (
  `id` char(36) NOT NULL,
  `id_aset_series` char(36) DEFAULT NULL,
  `nama_aset` varchar(200) NOT NULL,
  `lokasi_asal` varchar(200) DEFAULT NULL,
  `lokasi_tujuan` varchar(200) NOT NULL,
  `tanggal` date NOT NULL,
  `alasan` varchar(100) NOT NULL,
  `petugas` varchar(100) NOT NULL,
  `catatan` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_rla_aset_series` (`id_aset_series`),
  CONSTRAINT `fk_rla_aset_series` FOREIGN KEY (`id_aset_series`) REFERENCES `aset_series` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_lokasi_aset`
--

LOCK TABLES `riwayat_lokasi_aset` WRITE;
/*!40000 ALTER TABLE `riwayat_lokasi_aset` DISABLE KEYS */;
INSERT INTO `riwayat_lokasi_aset` VALUES ('','3bc5cd0e-8bb7-11f1-993d-06b26c09e45e','tes tambah aset baru',NULL,'dklwkdnw','2026-07-10','Input awal aset','Administrator',NULL,'2026-07-10 14:19:41');
/*!40000 ALTER TABLE `riwayat_lokasi_aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_transaksi_stok`
--

DROP TABLE IF EXISTS `riwayat_transaksi_stok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `riwayat_transaksi_stok` (
  `id` char(36) NOT NULL,
  `id_barang` char(36) NOT NULL,
  `nama_barang` varchar(200) NOT NULL,
  `jenis` varchar(20) NOT NULL COMMENT 'Masuk / Keluar',
  `jumlah` int NOT NULL,
  `tanggal` date NOT NULL,
  `no_dokumen` varchar(30) DEFAULT NULL,
  `keterangan` text,
  `petugas` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `rts_id_barang` (`id_barang`),
  KEY `rts_tanggal` (`tanggal`),
  CONSTRAINT `fk_rts_barang` FOREIGN KEY (`id_barang`) REFERENCES `barang_persediaan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_transaksi_stok`
--

LOCK TABLES `riwayat_transaksi_stok` WRITE;
/*!40000 ALTER TABLE `riwayat_transaksi_stok` DISABLE KEYS */;
INSERT INTO `riwayat_transaksi_stok` VALUES ('','f15503d8-5231-41be-9db4-09d87688c519','kapasitor','Masuk',10,'2026-07-11','','','Administrator','2026-07-11 04:41:28'),('602ec6cc-c9d0-4e78-ae37-ab04eaf93764','f8836f10-cbf8-4512-8bdb-1f330f8d4b8f','LEd','Masuk',100,'2026-08-03','','','Administrator','2026-08-03 04:08:13'),('e5008851-104f-4216-a1b3-d50c70d40703','f8836f10-cbf8-4512-8bdb-1f330f8d4b8f','LEd','Keluar',10,'2026-08-03','LK-202608-0001','Digunakan untuk LK-202608-0001','Administrator','2026-08-03 04:09:31');
/*!40000 ALTER TABLE `riwayat_transaksi_stok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `template_checklist`
--

DROP TABLE IF EXISTS `template_checklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `template_checklist` (
  `id` char(36) NOT NULL,
  `kategori` varchar(100) NOT NULL,
  `no_item` int NOT NULL,
  `jenis_item` varchar(50) NOT NULL COMMENT 'Inspeksi / Service / Pengukuran',
  `nama_komponen` varchar(200) NOT NULL,
  `satuan` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tc_kategori` (`kategori`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `template_checklist`
--

LOCK TABLES `template_checklist` WRITE;
/*!40000 ALTER TABLE `template_checklist` DISABLE KEYS */;
/*!40000 ALTER TABLE `template_checklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor`
--

DROP TABLE IF EXISTS `vendor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor` (
  `id` char(36) NOT NULL,
  `nama_vendor` varchar(200) NOT NULL,
  `kontak` varchar(200) DEFAULT NULL,
  `alamat` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor`
--

LOCK TABLES `vendor` WRITE;
/*!40000 ALTER TABLE `vendor` DISABLE KEYS */;
INSERT INTO `vendor` VALUES ('c1000000-0000-0000-0000-000000000001','PT Teknik Medika Sejahtera','0274-555101','Jl. Kaliurang KM 5, Yogyakarta','2026-07-09 08:26:50'),('c1000000-0000-0000-0000-000000000002','CV Sarana Listrik Mandiri','0274-555202','Jl. Magelang KM 7, Yogyakarta','2026-07-09 08:26:50'),('c1000000-0000-0000-0000-000000000003','PT Cahaya Elektronik Service','0274-555303','Jl. Solo KM 9, Yogyakarta','2026-07-09 08:26:50');
/*!40000 ALTER TABLE `vendor` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-06 13:44:53
